html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #222;
}

body {
    background-color: #f7f7f7;
}

header {
    background-color: #e7e7f7;
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
}

header h1 {
    font-weight: bold;
}

.line {
    width: 100%;
    height: 3px;
    background-color:  #19194e;
}

.folder-box, .page-numbers-box, .log-box {
    margin: 0.5rem 0;
    padding: 0.5rem;
}

.process {
    padding: 0.5rem 0.5rem 0;
}

.fb-heading {
    margin-bottom: 0.6rem;
    font-weight: bold;
    font-size: 1.1em;
}

.folder-box > div {
    display: flex;
    align-items: center;
}

.folder-box > div > button {
    margin-right: 0.6rem;
}

.folder-box > div > p {
    font-size: 0.8em;
}

button {
    background-color: #19194e;
    border: none;
    color: white;
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms;
}

button.secondary {
    color: #222;
    background-color: white;
    border: 1px solid #19194e;
}

button:hover {
    background-color: #32329a
}

button.secondary:hover {
    background-color: #ddd;
}

.page-numbers-box {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.page-numbers-box label {
    margin-right: 0.6rem;
}

.log-box {
    font-size: 0.9rem;
}

.processing-overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000dd;
    backdrop-filter: blur(2px);
}

.processing-overlay .lightbox {
    background-color: white;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0px 0px 12px black;
}

.processing-overlay .lightbox h2 {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
}

.processing-overlay .lightbox progress {
    margin: 0.5rem auto;
}

.processing-overlay .lightbox h5 {
    font-size: 0.9rem;
    margin: 0.2rem auto 1rem;
    text-align: center;
}